*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%!important;
    overflow-x: hidden!important;
    height: 100%!important;
    font-size:  10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    