.Design_experience{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    background-color: white;
}
.Design_experience .titulo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 4rem 2rem;
}
.Design_experience h3{
    font-size: medium;
    color: rgb(217, 32, 241);
    font-weight: 300;
    
}
.Design_experience h2{
    font-size: 6rem;
    color:rgb(26, 24, 24);
    font-weight: 500;
}
.Design_experience .texto{
    width: 33rem;
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
}
.Design_experience .texto hr{
    margin: 0rem 1rem;
    align-self: center;
    color: rgb(26, 24, 24);
}
.Design_experience .texto p{
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(49, 49, 49);
}
.botones{
    width: 33rem;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
}
.botones .bt1{
    width: 13rem;
    height: 5rem;
    background-color: #8772F1;
    border: none;
    border-radius: 2rem;
    color: white;
    padding: 1.5rem 3.5rem;
    text-decoration: none;
    margin-top: 2rem;
}
.botones .bt2{
    width: 15rem;
    height: 5rem;
    background-color: white;
    border: none;
    border-radius: 2rem;
    color:  rgb(49, 49, 49);
    padding: 1.5rem 3.5rem;
    text-decoration: none;
    margin-top: 2rem;
}
.imagen {
    width: 35rem;
    height: 35rem;
}
.imagen img{
    width: 30rem;
    height: 30rem;
    margin: 2rem;
}
.redes{
    width: 33rem;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    align-items: center;
}
.redes p{
    margin-top: 5rem;
    font-weight: 400;
}
.redes .bt3{
    margin-top: 5rem;
    margin-left: 1rem;
    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 100%;
    background-color: rgb(245, 243, 240);
    padding: 1rem;
}
.redes .bt3 img{
    width: 3rem;
    height: 3rem;
}
.redes .bt4{
    margin-top: 5rem;
    margin-left: 1rem;
    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 100%;
    background-color: rgb(245, 243, 240);
    padding: 1rem;
}
.redes .bt4 img{
    width: 3rem;
    height: 3rem;
}
.redes .bt5{
    margin-top: 5rem;
    margin-left: 1rem;
    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 100%;
    background-color: rgb(245, 243, 240);
    padding: 1rem;
}
.redes .bt5 img{
    width: 3rem;
    height: 3rem;
}
/* Este @media se ejecuta cuando la plantalla es  mayor o igual a 1200px*/

@media only screen and (min-width: 1200px){
    .Design_experience .titulo{
        width: 620px;
    }
    .Design_experience h3{
        font-size: 3rem;
    }
    .Design_experience h2{
        font-size: 8rem;
    }
    .Design_experience .texto{
        width: 50rem;
        font-size: 2rem;
    }
    .botones{
        width: 50rem;
        font-size: 2rem;
    }
    .botones .bt1{
        width: 17rem;
        height: 6rem;
        padding: 1.5rem 4rem;
    }
    .botones .bt2{
        width: 17rem;
        height: 6rem;
        padding: 1.5rem 4rem;
    }

    .Design_experience .imagen{
        width: 620px;
    }
    .imagen img{
        width: 55rem;
        height: 55rem;
    }
}
