header{
    width: 100%;
    background-color: white;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options{
    width: 100%;
    margin-top: 1rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.options li{
    font-size: 1.6rem;
    padding: 1rem 3rem;

}
header input{
    width: 12rem;
    height: 4rem;
    border: 2px solid rgb(148, 147, 147);
    border-radius: 1.5rem;
    padding: 2px 12px;
}

/* Este @media se ejecuta cuando la plantalla es  mayor o igual a 1200px*/

@media only screen and (min-width: 1200px){
    
    header {
        width: 100%;
        margin: auto;
        padding: 1rem 5rem;
    
        flex-direction: row;
        justify-content: space-between;
    }
    .logo {
        width: 10rem;
    }

    .menu {
        width: 61rem;
    }

}
