.Lets_Discuss{
    width: 100%;
    height: 110rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    background-color: #FBDA69;
}
.Lets_Discuss .titulo5{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 4rem 2rem;
}
.Lets_Discuss .titulo5 h3{
    font-size: medium;
    color: rgb(217, 32, 241);
    font-weight: 300;
}
.Lets_Discuss .titulo5 h2{
    font-size: 6rem;
    color: rgb(26, 24, 24);
    font-weight: 500;
}
.Lets_Discuss.texto5{
    width: 33rem;
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
}
.Lets_Discuss .titulo5 .texto5 hr{
    background-color: black;
    height: 0.3rem;
    border: none;
    
} 
.titulo5 .texto5 .Proyecto1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.Lets_Discuss .titulo5 .texto5 .Proyecto1 .IconoE{
    width: 8rem;
    height: 10rem;
    margin-top: 1rem;
    display: flex;
}
.Lets_Discuss .titulo5 .texto5 .Proyecto1 .IconoE .bt18{
    width: 7rem;
    height: 7rem;
    border: none;
    border-radius: 100%;
    background-color: white;
    padding: 1.5rem;
}
.Lets_Discuss .titulo5 .texto5 .Proyecto1 .IconoE .bt18 img{
    width: 4rem;
    height: 4rem;
}
.titulo5 .texto5 .Proyecto1 .descripcion{
    display: flex;
    flex-direction: column;
    margin-top: -1.5rem;
}
.titulo5 .texto5 .Proyecto1 .descripcion a{
    font-size: 1.3rem;
    margin-top: 3rem;
    margin-left: 1rem;
}
.titulo5 .texto5 .Proyecto1 .descripcion p{
    font-size: 2rem;
    font-weight: 500;
    margin-left: 1rem;
}

.titulo5 .texto5 .Proyecto2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Lets_Discuss .titulo5 .texto5 .Proyecto2 .IconoL{
    width: 8rem;
    height: 10rem;
    margin-top: 1rem;
    display: flex;
}
.Lets_Discuss .titulo5 .texto5 .Proyecto2 .IconoL .bt19{
    width: 7rem;
    height: 7rem;
    border: none;
    border-radius: 100%;
    background-color: white;
    padding: 1.5rem;
}
.Lets_Discuss .titulo5 .texto5 .Proyecto2 .IconoL .bt19 img{
    width: 4rem;
    height: 4rem;
}

.titulo5 .texto5 .Proyecto2 .descripcion2{
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
}

.titulo5 .texto5 .Proyecto2 .descripcion2 a{
    font-size: 1.5rem;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.titulo5 .texto5 .Proyecto2 .descripcion2 p{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-left: 1rem;
}

.circulo{
    width: 35rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.circulo .bt20{
    width: 33rem;
    height: 33rem;
    background-color: #FBDA69;
    border: none;
    border-radius: 100%;

}
.circulo .bt20 img{
    width: 33rem;
    height: 33rem;
    margin-left: 1rem;
}
.Lets_Discuss hr{
    background-color: black;
    height: 0.3rem;
    border: none;
    margin-top: 5rem;
}

/* Este @media se ejecuta cuando la plantalla es  mayor o igual a 1200px*/

@media only screen and (min-width: 1200px){
    .Lets_Discuss{
        height: 90rem;
    }
    .Lets_Discuss .titulo5{
        width: 620px;
    }
    .Lets_Discuss .titulo5 h3{
        font-size: 3rem;
    }
    .Lets_Discuss .titulo5 h2{
        font-size: 8rem;
    }
    .Lets_Discuss .circulo{
        width: 620px;
    }
    .circulo .bt20{
        margin-top: 3rem;
        width: 60rem;
        height: 60rem;
        padding: 0rem;
    }
    .circulo .bt20 img{
        width: 60rem;
        height: 60rem;
    }


}